<!--
@author:Kajal Tiwari
-->

<div class="bg">
    <div class="container">
        <div class="title">Welcome {{user.userName}}</div>
    <table class="table table-light table-striped">
        <tbody>
        <tr>
            <td><strong>Email-Id</strong></td>
            <td>{{user.email }}</td>
        </tr>
        <tr>
            <td><strong>Contact</strong></td>
            <td>{{ user.phoneNo }}</td>
        </tr>
        <tr>
            <td><strong>City</strong></td>
            <td>{{ user.city }}</td>
        </tr>
        <tr>
            <td><strong>State</strong></td>
            <td>{{ user.state }}</td>
        </tr>
    </tbody>
    </table>
        <button type="button" (click)="getPolicyDetails()" class="btn btn-info"> Your Policy Details</button>
        <button type="button" (click)="back()" class="btn btn-warning">Go back</button>
        <div class="container1" *ngIf = "isRequested">
            <table class="table table-light table-striped">
                <tbody>
                <tr>
                    <td><strong>Policy</strong></td>
                    <td>{{policy.type }}</td>
                </tr>
                <tr>
                    <td><strong>IDV</strong></td>
                    <td>₹ {{ policy.idv }}</td>
                </tr>
                <tr>
                    <td><strong>Max CLaim Amount</strong></td>
                    <td>₹ {{ policy.maxClaimAmount }}</td>
                </tr>
                <tr>
                    <td><strong>Purchased Date</strong></td>
                    <td>{{ policy.purchasedDate }}</td>
                </tr>
                <tr>
                
                    <td><strong>Expiry Date</strong> </td>
                    <td>{{ policy.expiryDate }}</td>
                </tr>
            </tbody>
            </table>
            </div>         
                    
</div> 
</div>

