<div class ="bg">
    <div class="container">
      <div class="padding">
      <div class = "row" style="padding-left :3%">
        <div class = "col-sm-4"></div>
        <div class = "col-sm-4">
        <div class ="card" style="background-color: white;"> 
          <div class="card-header" style="padding-left: 11%; background-color: rgb(202, 177, 186); border-top-left-radius: 20px;
             border-top-right-radius: 20px; font-size: 140%;">Here's Your Vehicle Details!</div>
          <div class = "card-body">
            <p class="card-text">Vehicle Type  : {{ type }}</p><br>
            <p class="card-text">Brand :  {{ brand }}</p><br>
            <p class="card-text">Model  :  {{ model }}</p><br>
            <p class="card-text">Variant :  {{ variant }} </p><br>
            <p class="card-text">Fuel Type :  {{ fuelType }}</p><br>
            <p class="card-text">Purchasing Year :  {{ purchasingYear }} </p><br>
            <p class="card-text">Price  :  {{ price }} </p><br>
            <button type="button" class="btn btn-success btn1" (click)="showIDV()">Veiw IDV</button>
          </div>
        </div>
        </div>
        <div class = "col-sm-4"></div>
      </div>
      </div>
    </div>
  </div>