
.bg{ 
    background: linear-gradient(135deg,#e6a671,#5f59b6); 
       height: 100vh; 
       align-items: center;
} 
button.btn1:hover, button.btn1:active {
    font-size: 110%;
    color: rgb(44, 29, 29);
    right: 25px;
    align-items: center;
}