/* author : Theres Thomas
co-author : (background-image and nav bar) Shruti Mittal, Jai Baheti, Kajal Tiwari*/

.bg{ 
    background: url(../../assets/image/z.jpeg) no-repeat center; 
       height: 130vh; 
       align-items: center;
       width: 100%;
       -webkit-background-size: cover;
} 
.x{
  max-width: 310px;
}

.card{
    max-width: 310px;
    max-height: 675px;
    top: 35px;

          text-align: center;
          background:  white;
          bottom: -3px; 
          box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
          left: 35%;
          border-top-right-radius: 15px;
          border-bottom-right-radius: 15px;
          border-top-left-radius: 15px;;
          border-bottom-left-radius: 15px;
}
.button1{
    color: rgb(250, 245, 245);
    background-color: rgb(78, 64, 47);
    max-width: 90px;
    align-content: center;
}
table {
    width: 100%;
  }
.mat-elevation-z8{
    background-color: white;
    
}
.navbar-text{
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
}
dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  } */
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(105, 163, 149);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #c5f3eb;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
