/* author: Shruti Mittal
co-author : (background-image and nav bar) Theres Thomas, Jai Baheti, Kajal Tiwari*/

@import url('https://fonts.googleapis.com/css2?family=poppins:wght@200;300;400;500;600'); */
*{
margin: 0; 
 padding: 0; 
 box-sizing: border-box; 
font-family: 'poppins',sans-serif;
 } 
.bg{ 
 background: url(../../assets/image/Reg_bg.jpeg) no-repeat center ; 
    display: flex; 
    height: 100vh; 
    
   -webkit-background-size:cover;
 } 
.container{
  margin-top: 25px;
  margin-left: 40px;
  margin-bottom: 35px;
    max-width: 700px;
    width: 100%;
    background: rgb(255, 255, 255);
    padding: 25px 30px;
    opacity:90%;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}
  .container.title{
    color:purple;
    font-size: 40px;
    position:relative;
    font-weight: border;
    font-family: 'Courier New', Courier, monospace;
}
  .container.title::before{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
}
   .container table .user-details{
      display: flex;
      flex-wrap: wrap;
}
    form.user-details.input-box{
      width: calc(100% / 2 - 20px);
}
    .user-details.input-box input{
      height: 45px;
      width: 100%;
}
dropdown {
    float: left;
    overflow: hidden;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(105, 163, 149);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #c5f3eb;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
button[type=submit]{
  padding-left: 10px;
  padding-top: 5px;
  border-radius: 8px;
  border-color:pink;
  background-color:rgb(5, 102, 102);
  color:oldlace;
  font-size: medium;
  font-weight: 500;
}
#partitioned {
  letter-spacing: 15px;
  border:none ;
  background-position-x: 45px;

}
.navbar-text{
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
}
 