<div class="bg">
	<div class="container">
		<div class="title"> Register Here </div>
		<form (ngSubmit)="validate()">
            <table class="user-details">
                <tr class="input box">
                    <td class="details">Username</td>
                    <td><input name="Username"
                        required pattern="[a-zA-Z]{3,}">
                        <!-- <span *ngIf="username.dirty && username.invalid" class="alert alert-danger">
                        Username is empty or less than 3 characters
                        </span> -->
                    </td>
                </tr>
                <tr class="input box">
                    <td class="details">Phone Number: </td>
                    <td><input name="Phone Number"
                        required pattern="[0,9]{10,}">
                        <!-- <span *ngIf="phonenum.dirty && phonenum.invalid" class="alert alert-danger">
                        Field is empty or invalid.
                        </span> -->
                    </td>
                </tr>
                <tr class="input box">
                    <td class="details">Create Password: </td>
                    <td><input type="Password" name="Password" >
                        <!-- <span *ngIf="Password.dirty && Password.invalid" class="alert alert-danger">
                        Password is empty or invalid
                        </span> -->
                    </td>
                </tr>
                <tr class="input box">
                    <td class="details">Re-Enter the Password: </td>
                    <td><input name="Re-Enter the Password"
                        required pattern="[A-Za-z0-9]{7,}">
                        <!-- <span *ngIf="Password.dirty && Password.invalid" class="alert alert-danger">
                        Password is empty or invalid
                        </span> -->
                    </td>
                </tr>
                <tr class="input box">
                    <td class="details">EmailId: </td>
                    <td><input name="Emailid"  
                        required pattern="[a-z@gmail.com]">
                        <!-- <span *ngIf="Email_Id.dirty && Email_Id.invalid" class="alert alert-danger">
                        Email-Id is empty or invalid
                        </span> -->
                    </td>
                </tr>
                <tr class="input box">
                    <td class="details">State: </td>
                    <td><input name="Enter your State" 
                        required pattern="[A-Z a-z]{3,}">
                        <!-- <span class="alert alert-danger">
                        State is empty or invalid
                        </span> -->
                    </td>
                </tr>
                <tr class="input box">
                    <td class="details">City: </td>
                    <td><input name="your City"></td>
                </tr>
                <tr>
                    <th colspan="2">
                        <button class="btn btn-success" type="submit"> Register</button>
                    </th>
                </tr>
            </table>
		</form>
	</div>
</div>