<!-- author : Shruti Mittal
     co-author Kajal Tiwari -->

<nav class="navbar navbar-dark bg-dark">
    <!-- Navbar content -->
    <div class="container-fluid">
      <a class="navbar-brand" href="#">M O T O I N S U R E</a>
      <span class="navbar-text" style="font-style: italic; text-align: center;">
        Let's Find You The Best!
      </span>
      <div class="dropdown">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="dropdown-content">
          <a href="#">Home </a>
          <a  [routerLink]="['login']">Login </a>
        </div>
      </div> 
      
    </div>
  </nav>
<div class="bg">
	<div class="container">
		<div class="title"> Register Here </div><br>
		<form (ngSubmit)="validate()" [formGroup]="RegistrationForm">
            <span [hidden]=!sameUser class="alert-danger" >User Exists</span>
            <div class="row">
                <div class="col-md-6 form-group">
                    <label>Username</label>
                    <input type="text" name="Username" [(ngModel)]=user.userName
                    required minlength="3" pattern="^[a-z,.-']+$" 
                    placeholder="Enter Your Name" class='form-control' [(ngModel)]=user.userName formControlName="Username">
                    
                   <span *ngIf="RegistrationForm.controls.Username.dirty && RegistrationForm.controls.Username.invalid" class="alert-danger" >
                     Full Name is required
                    </span> 
                </div>
                <div class="col-md-6 form-group">
                    <label>Phone Number</label>
                    <input type="text" name="phonenum" [(ngModel)]=user.phoneNo  required maxlength="10" pattern="[7-9][0-9]{9}"  
                     
                     placeholder="Enter Your Phone_number" class='form-control' formControlName="Phone_Number">
                     <span *ngIf="RegistrationForm.controls.Phone_Number.dirty && RegistrationForm.controls.Phone_Number.invalid" 
                     class="alert-danger">
                        Enter 10 digit Number.
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    <label>Password</label>
                    <input type="password" name="Password" required minlength="8" [(ngModel)]=user.password
                     
                    placeholder="Enter Your Password" class='form-control' formControlName="Password">
                    <span *ngIf="RegistrationForm.controls.Password.dirty && RegistrationForm.controls.Password.invalid" class="alert-danger">
                        Password is required.
                    </span>
            
                </div>
                <div class="col-md-6 form-group">
                    <label>Confirm Password</label>
                    <input type="password" name="password" required  minlength="8" 
                     
                     placeholder="Re-Enter Your Password" class='form-control' formControlName="password">
                    
                    <span *ngIf="RegistrationForm.controls.password.value !== RegistrationForm.controls.Password.value "class="alert-danger">
                        Confirm Password should match with Password.
                   </span>
                  
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    <label>E-Mail</label>
                    <input type="email" name="EmailID" required [(ngModel)]=user.email
                     pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" 
                    
                    placeholder="E-Mail" class='form-control' formControlName="EmailID">
                    <span *ngIf="RegistrationForm.controls.EmailID.dirty && RegistrationForm.controls.EmailID.invalid" class="alert-danger"  >
                   
                       
                        Email-Id is empty or invalid
                    </span>
                </div>


               <div class="col-md-6 form-group">
                    <label>State</label>
                    <input type="text" name="State" required pattern="[A-Z a-z]{2,}" [(ngModel)]=user.state
                    placeholder="Enter Your State" class='form-control' formControlName="State">
                    <span *ngIf="RegistrationForm.controls.State.dirty && RegistrationForm.controls.State.invalid" class="alert-danger">
                        Invalid Entry
                    </span>
                </div>
            </div>
                <div class="col-md-6 form-group">
                    <label>City</label>
                    <input type="text" name="City" [(ngModel)]=user.city required pattern="[A-Z a-z]{3,}" placeholder="City" class='form-control' formControlName="City">
                </div>
            	</form>
       <form (ngSubmit)="sendSms()">
        <button type="submit" class="btn btn-sm" [hidden]=isValid>Send OTP</button>
        </form>
        <div *ngIf="verify">Enter OTP
            <span ><input id="partitioned" type="text" name="UserOtp" inputmode="numeric" maxlength="6" required pattern="[0-9]" [(ngModel)]=userOtp/>
                <button type="submit" class="btn btn-sm" (click)="validateOtp()">Verify User</button>
        </span> 
        </div>
	</div>
</div>
