<div class="bg">
    <div class="container">
        <div class="row" style="padding-top: 19%; padding-left :32%">
            <div class="card">
                <div class="card-header">Insure Declared Value</div>
                <div class="card-body">MotoInsure can provide: {{idv|currency:'INR':'symbol'}}  as Insurance for your vehicle </div>
                <div class="card-footer">
                    <div class='row'>
                        <div class="col-md-4">
                            <button class="btn btn-secondary" (click)="navigateRegistration()">Register</button>
                        </div>
                        <div class="col-md-4">
                            
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-secondary" (click)="navigateLogin()">Login</button></div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>

