<!-- author : Kajal Tiwari -->

<nav class="navbar navbar-dark bg-dark">
    <!-- Navbar content -->
    <div class="container-fluid">
      <a class="navbar-brand" href="#">M O T O I N S U R E</a>
      <span class="navbar-text" style="font-style: italic; text-align: center;">
        Let's Find You The Best!
      </span>
      <div class="dropdown">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="dropdown-content">
          <a href="#">Home </a>
          <!-- <a href="#">Login </a> -->
          <a [routerLink]="['registration']">Register </a>
        </div>
      </div> 
    </div>
  </nav>
<div class="bg">
   
    <div class="container">

    <form [hidden]=!disappear (ngSubmit)="loginUser()" #authfrm=ngForm>
        <div  class="title"> Login</div>
        <table class="table-light">

            <tr class="table-light">
                <td>Email </td>
                <td><input type="email" name="email" 
                    [required]="Email.value == 'email' || Email.value !== ''"
                     [email]="login.email!==''"  #Email="ngModel" 
                     [(ngModel)]=login.email class='form-control'>
                    <span *ngIf="Email.errors?.email && Email.invalid" class="help-block">
                        Email is invalid
                    </span>
                    <span *ngIf="Email.errors?.required && Email.touched" class="help-block">
                        Email is required
                    </span>
                </td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="password" required #Password="ngModel" [(ngModel)]=login.password class='form-control'>
                    <span *ngIf="Password.dirty && Password.invalid" class="alert alert-danger">
                        Password is required.
                    </span></td>
            </tr>
            <tr>
                <td><button type="submit" [disabled]=!authfrm.valid>Login</button></td>
                <td><button type="reset">Reset</button></td>
            </tr>
            <tr>
                <td><button type="button" (click)="toggle()">Forgot Password</button></td>
            </tr>
        </table>
    </form>
    <form [hidden]=pwd (ngSubmit)="forgotPwd()">
        <div class="title">Recover Password</div>
        <table class="table-light">
            <tr>
                <td>Email</td>
                <td><input type="email" name="userName" [(ngModel)]=login.email>
                    </td>
            </tr>
            <tr>
                <td><button type="submit" >Get Password</button></td>
                <td><button type="button" (click)="toggle()">Login</button></td>
            </tr>
        </table>
    </form>
    <div [hidden]=!loggedIn>
        <input type="text" placeholder="Registration No." name="registrationNo" [(ngModel)]="registrationNo">
        <button type="button" (click)="addVehicle()">Get Insurance</button>
    </div>
</div>
</div>

<button (click)=getBrand()>Get Brand</button>
<button (click)=getModel()>Get Brand</button>
<table>
    <tr></tr>
</table>
