<div class="bg">
    <div class="container">

        <div [hidden]=!disappear class="title"> Login</div>
    <form (ngSubmit)="loginUser()" #authfrm=ngForm>
        <table class="table-light">

            <tr class="table-light">
                <td>Email </td>
                <td><input type="email" name="email" 
                    [required]="Email.value == 'email' || Email.value !== ''"
                     [email]="login.email!==''"  #Email="ngModel" 
                     [(ngModel)]=login.email class='form-control'>
                    <span *ngIf="Email.errors?.email && Email.invalid" class="help-block">
                        Email is invalid
                    </span>
                    <span *ngIf="Email.errors?.required && Email.touched" class="help-block">
                        Email is required
                    </span>
                </td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="password" required #Password="ngModel" [(ngModel)]=login.password class='form-control'>
                    <span *ngIf="Password.dirty && Password.invalid" class="alert alert-danger">
                        Password is required.
                    </span></td>
            </tr>
            <tr>
                <td><button type="submit" [disabled]=!authfrm.valid>Login</button></td>
                <td><button type="reset">Reset</button></td>
            </tr>
            <tr>
                <td><button type="button" (click)="toggle()">Forgot Password</button></td>
            </tr>
        </table>
    </form>
    <form [hidden]=pwd (ngSubmit)="forgotPwd()">
        <table class="table">
            <tr>
                <td>UserName</td>
                <td><input type="userName" name="userName" [(ngModel)]=userName>
                    </td>
            </tr>
            <tr>
                <td><button type="submit" >Forgot Password</button></td>
                <td><button type="button" (click)="toggle()">Login</button></td>
            </tr>
        </table>
    </form>
    <div [hidden] = !loggedIn>
        <input type="text" placeholder="Registration No." name="registrationNo" [(ngModel)]="registrationNo">
        <button type="button" (click)="addVehicle()">Get Insurance</button>
    </div>
</div>
</div>

<button (click)=getBrand()>Get Brand</button>
<button (click)=getModel()>Get Brand</button>
<table>
    <tr></tr>
</table>