<!-- authors : Theres Thomas -->

<div class="bg-img">
    <div style="text-align: right; padding-right: 10%; padding-top: 1%;">
        <a [routerLink]="['login']">Login</a> /
        <a [routerLink]="['registration']">Register</a>  
    </div>
    <div class="cont">
        <div style="font-size:83px">M O T O I N S U R E</div>
        <div style="text-align: center">
            <button class="tbutton">Let's Find You The Best!</button>
        </div>
    </div>
</div>

<mat-card class="card1">
    <mat-form-field appearance="outline">
        <mat-label>Enter Registration Number </mat-label>
        <input matInput placeholder="Registration Number" (input)="onInput($event)" formControlName="Registration">
    </mat-form-field>
    <button mat-raised-button class="button1" *ngIf="RegistrationNumber"  (click)="direct1()">Proceed</button>
    <div>
        <p>or</p>
    </div>
    <button mat-raised-button class="button2" (click)="direct()">Proceed without Registration Number</button>
</mat-card>