<div *ngIf="!prit" class= "bg">
    <nav class="navbar navbar-dark bg-dark">
        <!-- Navbar content -->
        <div class="container-fluid">
          <a class="navbar-brand" href="#">MOTOINSURE</a>
          <span class="navbar-text" style="font-style: italic; text-align: center;">
            Let's Find You The Best!
          </span>
          <div class="dropdown">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <!-- <button class="dropbtn">Move To 
              <i class="fa fa-caret-down"></i>
            </button> -->
            <div class="dropdown-content">
              <a href="#">Home </a>
              <a href="#">Profile </a>
              <a (click)="logout()">Logout </a>
            </div>
          </div>
        </div>
      </nav>
    <div class="padding" *ngIf = "!isPaid" >
        <div class="row" style="padding-top: 4%;">
            <div class="col-sm-6">
                <div class="card" >
                    <div class="card-header" style="background-color: rgb(160, 200, 202);">
                        <strong>Payment Details</strong>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="paymentForm">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="name">Name on Card</label>
                                        <input formControlName="name" class="form-control" id="name" type="text" placeholder="Enter your name" required >
                                        <p *ngIf="paymentForm.controls.name.invalid && paymentForm.controls.name.dirty" class="alert alert-danger">Enter Valid Name</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="ccnumber">Card Number</label>
                                        <!-- <div class="input-group"> -->
                                            <input formControlName="cardNumber" class="form-control" type="text" placeholder="0000 0000 0000 0000" autocomplete="email" required>
                                            <p *ngIf="paymentForm.controls.cardNumber.invalid && paymentForm.controls.cardNumber.dirty" class="alert alert-danger">Enter 16 digit valid number</p>
                                            <!-- <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <i class="mdi mdi-credit-card"></i>
                                                </span>
                                            </div> -->
                                        <!-- </div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label for="ccmonth">Month</label>
                                    <select class="form-control" id="ccmonth">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                        <option>11</option>
                                        <option>12</option>
                                    </select>
                                </div>
                                
                                <div class="form-group col-sm-6">
                                    <label for="ccyear">Year</label>
                                    <select class="form-control" id="ccyear">
                                        <option>2021</option>
                                        <option>2022</option>
                                        <option>2023</option>
                                        <option>2024</option>
                                        <option>2025</option>
                                        <option>2026</option>
                                        <option>2027</option>
                                        <option>2028</option>
                                        <option>2029</option>
                                        <option>2030</option>
                                        <option>2031</option>
                                    </select>
                                </div>
                                <!-- <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="cvv">CVV</label>
                                        <input formControlName="cvv" class="form-control" id="cvv" type="text" placeholder="cvv">
                                        <p *ngIf="paymentForm.controls.cvv.errors" class="alert alert-danger">X</p>
                                    </div>
                                </div> -->
                            </div>
                            <div class ="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="cvv">CVV</label>
                                        <input formControlName="cvv" class="form-control" id="cvv" type="password" placeholder="Enter cvv">
                                        <p *ngIf="paymentForm.controls.cvv.invalid && paymentForm.controls.cvv.dirty" class="alert alert-danger">Enter a valid CVV</p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>    
                    <div class="card-footer" style="background-color: rgb(160, 200, 202);">
                        <button class="btn btn-sm btn-secondary float-right" [disabled]="paymentForm.invalid" type="submit" (click)="toggle()">
                            <i class="mdi mdi-gamepad-circle" ></i> Pay</button>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="alert alert-success" *ngIf = "isPaid">
        <strong>Success!</strong> Payment Done.
        <button class="btn btn-secondary" (click)="getPolicyDetails()" >Generate Receipt</button>
    </div>
   

    <div class="container" *ngIf = "isRequested">
        <div class="padding">
        <div class = "row" style="padding-top: 3%;">
          
          <div class = "col-sm-4">
          <div class ="card1" style="background-color:  white"> 
            
            <div class="card-header" style=" background-color: rgb(173, 196, 197); padding-left: 18%;
              font-size: 99%;"><strong>Here's your Policy Details</strong></div>
            <div class = "card-body" >
            
              
            <table class="table table-light table-striped">
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td><strong>Policy Type</strong></td>
                    <td>{{ policy.type }}</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td><strong>IDV</strong></td>
                    <td>{{ policy.idv }}</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td><strong>Max Claim Amount</strong></td>
                    <td>{{ policy.maxClaimAmount }}</td>
                </tr>

                <tr>
                    <th scope="row">4</th>
                    <td><strong>Purchased Date</strong></td>
                    <td>{{ policy.purchasedDate }}</td>
                </tr>

                <tr>
                <th scope="row">5</th>
                    <td><strong>Expiry Date</strong> </td>
                    <td>{{ policy.expiryDate }}</td>
                </tr>
                </tbody>
            </table>
            </div>
            <button (click)="print()">Print Receipt</button>
          </div>
          </div>
          <div class = "col-sm-4"></div>
        </div>
        </div>
      </div>
</div>
<div *ngIf="prit">
<table class="table table-light table-striped">
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td><strong>Policy Type</strong></td>
        <td>{{ policy.type }}</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td><strong>IDV</strong></td>
        <td>{{ policy.idv }}</td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td><strong>Max Claim Amount</strong></td>
        <td>{{ policy.maxClaimAmount }}</td>
    </tr>

    <tr>
        <th scope="row">4</th>
        <td><strong>Purchased Date</strong></td>
        <td>{{ policy.purchasedDate }}</td>
    </tr>

    <tr>
    <th scope="row">5</th>
        <td><strong>Expiry Date</strong> </td>
        <td>{{ policy.expiryDate }}</td>
    </tr>
    </tbody>
</table>
</div>